*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Codec Pro', sans-serif;
}
body{
    background: url("img/fondo.jpg") no-repeat 50% 50%;
    background-attachment: fixed;
    background-size: cover;
}
ul{
    border-radius: 25px;
    background: white;
    border: solid 1px black;
}
section{
    height: 100vh;
}
a{
    text-decoration: none;
}
#nombre{
    font-size: 5rem;
}
#profesion{
    font-size: 2rem;
}
#experiencia{
    font-size: 1rem;
}
.card, .card-footer{
    border:none;
}
#menu{
    display: none;
}
span{
    width: 65%;
    text-align: center;
}
.opcion{
    width: 126%;
    text-align: center;
}

#contenido-perfil{
    font-size: 1.5rem;
}
#imagen_perfil{
    width: 400px;
}
@media screen and (max-width: 667px) {
    .titulos{
        font-size: 1rem;
    }
    
    #nombre{
        font-size: 2.5rem;
        text-align: center;
    }
    #profesion{
        font-size: 1.3rem;
        text-align: center;
    }
    #experiencia{
        font-size: 1rem;
        text-align: center;
    }
    span{
        width: 70%;
        text-align: center;
    }
    .opcion{
        width: 130%;
        text-align: center;
    }

    #contenido-perfil{
        font-size: 1rem;
    }
    #imagen_perfil{
        width: 200px;
    }
  }